* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.25rem;
}

p {
    text-align: justify;
    padding-right: 25px;
}

.background {
    background-repeat: no-repeat;
    background-image: url('img/bg.jpg');
    background-size: cover;
}

.content-wraper,
.content {
    height: 100%;
    overflow: hidden;
}

.show {
    margin: 0 auto;
    margin-top: 270px;
    width: 75%;
    height: 340px;
    overflow: auto;
}

.fixedicon {
    left: 0;
    position: fixed;
    top: 38%;
    width: 60px;
}

.fixedicon img {
    width: 50px;
}

.fixed-header {
    left: 43%;
    position: fixed;
}

.fixed-header img {
    width: 160px;
}
.show p,.arabic{
    display: block;
    float: right;
}